// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright Altera Corporation (C) 2015. All rights reserved.
 */

#include "socfpga_stratix10.dtsi"

/ {
	model = "Northwood Beamformer Board Rev-A";
	compatible = "altr,socfpga-stratix10-socdk", "altr,socfpga-stratix10";

	aliases {
		serial1 = &uart1;
		ethernet1 = &gmac1;
	};

	chosen {
		stdout-path = "serial1:115200n8";
	};

	memory@00000000 {
		device_type = "memory";
		/* We expect the bootloader to fill in the reg */
		/* On the beamforming board, we only have 2GiB of DDR4 */
		reg = <0 0x80000000 0 0>;
	};
};

// The pinout 
&gmac1 {
	status = "okay";
	phy-mode = "rgmii";
	phy-handle = <&phy1>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		compatible = "snps,dwmac-mdio";

		/* looking at the strap-ins on phy.schdoc(M) of Jingwangs schematic.
					PHYAD0: 1
					PHYAD1: 0
					PHYAD2: 1
			The phy address, PHYAD[2:0], is sampled and latched at powerup/reset.
			Pull-up = 1, Pull-down = 0.
			PHYAD[4:3] = 00.
			PHYAD[2:0] = 0b101 -> 0x5
			PHYAD[4:0] = 0b00101 -> 0x5

			See datasheet for more information.
			https://ww1.microchip.com/downloads/en/DeviceDoc/00002117F.pdf
		*/
		phy1: ethernet-phy@5 {
			reg = <5>;
			rxd0-skew-ps = <480>;
			rxd1-skew-ps = <480>;
			rxd2-skew-ps = <480>;
			rxd3-skew-ps = <480>;
			rxdv-skew-ps = <480>;
			txd0-skew-ps = <360>;
			txd1-skew-ps = <360>;
			txd2-skew-ps = <360>;
			txd3-skew-ps = <360>;
			txen-skew-ps = <360>;
			rxc-skew-ps = <1680>;
			txc-skew-ps = <1800>;
		};
	};
};

&osc1 {
	clock-frequency = <125000000>;
};

&uart1 {
	status = "okay";
};

&watchdog0 {
	status = "okay";
};

&qspi {
	status = "okay";
	flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "micron,mt25qu02g", "jedec,spi-nor";
		reg = <0>;
		spi-max-frequency = <100000000>;

		m25p,fast-read;
		cdns,page-size = <256>;
		cdns,block-size = <16>;
		cdns,read-delay = <1>;
		cdns,tshsl-ns = <50>;
		cdns,tsd2d-ns = <50>;
		cdns,tchsh-ns = <4>;
		cdns,tslch-ns = <4>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			rsu-handle = <&qspi_boot>;

			qspi_boot: partition@0 {
				label = "u-boot";
				reg = <0x0 0x04200000>;
			};

			root: partition@4200000  {
				label = "root";
				reg = <0x04200000 0x0BE00000>;
			};
		};
	};
};

&temp_volt {
	voltage {
		#address-cells = <1>;
		#size-cells = <0>;
		input@2 {
			label = "0.8V VCC";
			reg = <2>;
		};

		input@3 {
			label = "1.0V VCCIO";
			reg = <3>;
		};

		input@6 {
			label = "0.9V VCCERAM";
			reg = <6>;
		};
	};

	temperature {
		#address-cells = <1>;
		#size-cells = <0>;

		input@0 {
			label = "Main Die SDM";
			reg = <0x0>;
		};
	};
};

&spi0 {
	status = "okay";
	num-cs = <4>;
	spidev@0 {
      /* chip select 0 */
      reg = <0>;
      compatible = "rohm,dh2228fv";
      spi-max-frequency = <1000000>;
  };
  spidev@1 {
      /* chip select 1 */
      reg = <1>;
      spi-max-frequency = <1000000>;
      compatible = "rohm,dh2228fv";
  };
  spidev@2 {
      /* chip select 2 */
      reg = <2>;
      spi-max-frequency = <1000000>;
      compatible = "rohm,dh2228fv";
  };
  spidev@3 {
      /* chip select 3 */
      reg = <3>;
      compatible = "rohm,dh2228fv";
      spi-max-frequency = <1000000>;
  };
};

&spi1 {
	status = "okay";
	num-cs = <4>;
	spidev@0 {
      /* chip select 0 */
      reg = <0>;
      compatible = "rohm,dh2228fv";
      spi-max-frequency = <1000000>;
  };
  spidev@1 {
      /* chip select 1 */
      reg = <1>;
      spi-max-frequency = <1000000>;
      compatible = "rohm,dh2228fv";
  };
  spidev@2 {
      /* chip select 2 */
      reg = <2>;
      spi-max-frequency = <1000000>;
      compatible = "rohm,dh2228fv";
  };
  spidev@3 {
      /* chip select 3 */
      reg = <3>;
      compatible = "rohm,dh2228fv";
      spi-max-frequency = <1000000>;
  };
};
